<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
<head>
	<meta charset="utf-8">
	<title></title>

</head>
<body>
<p>{{screamIt welcomePage}}</p>
	{{> header}}
	<p>Some text here</p>
	{{> footer}}
</body>
</html>